* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* ### VÍDEO DE FUNDO ### */

#background_video {
    position: fixed; /* Fixa o vídeo para cobrir toda a página */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Faz com que o vídeo cubra toda a área do elemento */
    z-index: -1; /* Coloca o vídeo atrás de todo o conteúdo */
}

/* ### CABEÇALHO ### */

header {
    display: flex;
    align-items: center;
    padding: 1.5vw;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    border: 1px solid white;
    border-radius: 0.5vw;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

header .title {
    font-size: 1.5vw; /* Ajuste para unidades relativas */
    color: white;
    display: flex;
    align-items: center;
}

header .title img {
    max-height: 2.5vw;
    margin-right: 1vw;
    margin-left: 1vw;
    transition: transform 0.3s;
}

header .title img:hover {
    transform: scale(1.1);
}

header .title a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    transition: filter 0.3s;
}

header .title a:hover {
    filter: hue-rotate(180deg);
}

header .menu {
    display: flex;
    list-style: none;
}

header .menu li a {
    font-size: 1vw;
    text-decoration: none;
    color: white;
    display: inline;
    margin-right: 1vw;
}

header .menu li {
    display: inline;
}

header .menu li img {
    max-height: 2.5vw;
    transition: transform 0.3s, filter 0.3s;
}

header .menu li img:hover {
    transform: scale(1.1);
    filter: hue-rotate(180deg);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

#content_container {
    position: relative; /* Define o contêiner pai como posição relativa */
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Empilha as seções verticalmente */
}

/* ### BODY ### */

/* Oculta a barra de rolagem vertical */
body {
    overflow-y: hidden;
}

/* Define as transições para as seções */
section {
    transition: opacity 0.5s ease-in-out; /* Transição suave de opacidade */
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0 auto; /* Centraliza a seção dentro do contêiner pai */
    transform: translateX(-50%); /* Centraliza horizontalmente a seção */
}

/* Oculta todas as seções, exceto a seção que é alvo (clicada) */
section:not(:target) {
    opacity: 0;
    pointer-events: none; /* Impede a interação com as seções ocultas */
}

/* Quando uma seção é alvo (clicada), mostra-a com um efeito de fade-in */
section:target {
    opacity: 1;
}

/* Mostra a seção inicial */
#sobre:target {
    opacity: 1;
}

/* ### SOBRE ### */


#sobre,
#veleiros,
#lanchas,
#jet,
#contato,
#redes {
    box-sizing: border-box;
    max-width: 900px;
    padding: 19px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    justify-content: center;
    vertical-align: center;
    border-width: 1px;
    border-color: white;
    border-radius: 9px;
    border-style: solid;
    backdrop-filter: blur(2px); /* Adiciona um efeito de embaçamento à imagem de fundo */
}

#sobre img,
#veleiros img,
#lanchas img,
#jet img,
#contato img {
    max-height: 300px;
    border-width: 1px;
    border-color: white;
    border-radius: 9px;
    border-style: solid;
}

.conteudo_sobre {
    font-family: Josefin Sans;
    font-weight: 350;
    margin-left: 17px;
    margin-right: 60px;
    margin-top: 35px;
    color: white;
}

.conteudo_sobre h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size:larger;
}

/* ### CONTATO ### */

#contato {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    text-align: center;
    top: 50%;
}

#contato .container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

#contato h2 {
    font-size:xx-large;
    margin-top: 0;
    color: white;
    font-family: Josefin Sans;
}

.contact_methods h3 {
    margin-top: 2px;
    margin-bottom: 7px;
    font-size: larger;
}

.contact_methods form {
    display:block;
    justify-content: space-between;
}

.contact_methods,
#logo-yt {
    margin-bottom: 35px;
}

form input,
form textarea,
form button {
    display:flex;
    width: 320px;
    margin-bottom: 8px;
    padding: 6px;
    border-style: solid;
    border-radius: 9px;
    border-color: white;
    border-width: 1px;
    background-color: transparent;
    color: white;
    transition: transform 0.3s, filter 0.3s; /* Transição suave para o efeito de hover */
    text-align: center;
}

form button {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

form input::placeholder,
form textarea::placeholder {
    color: white;
    font-size: small;
}

form button:hover {
    transform: scale(1.1); /* Aumenta a escala da imagem em 10% quando o mouse passa por cima */
    filter: hue-rotate(180deg); /* Muda a cor da imagem em 180 graus quando o mouse passa por cima */
    cursor: pointer;
}

form textarea {
    resize: none;
}

/* ### REDES ### */

#redes {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    text-align: center;
    margin-bottom: 70px;
}

#redes .container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

#redes h2 {
    font-size:xx-large;
    margin-top: 0;
    color: white;
}

.social_links h3 {
    margin-top: 2px;
    margin-bottom: 7px;
    font-size: larger;
}

.social_links {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.social_links img {
    height: 24px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}

.social_links li {
    display: block;
    margin-right: 8px;
    justify-content: space-between;
}

.social_links a {
    display: inline;
    text-decoration: none;
    height: fit-content;
    width:fit-content;
}

@media screen and (max-width: 762px) {
    header .title {
        font-size: 3vw; /* Ajuste para unidades relativas */
    }
    
    header .title img {
        max-height: 4vw;
        margin-right: 1vw;
        margin-left: 1vw;
        transition: transform 0.3s;
    }

    header .menu li img {
        max-height: 4vw;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        text-align: center; /* Centraliza o texto */
    }
    
    .conteudo_sobre {
        font-family: Josefin Sans;
        font-weight: 350;
        margin-top: 35px;
        color: white;
        margin: 0 auto;
    }

    .conteudo_sobre h2 {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: larger;
    }

    /* Container para centralizar imagem e texto */
    .conteudo_sobre_container {
        display: block;
        text-align: center;
        margin-bottom: 20px; /* Espaçamento entre a imagem e o texto */
    }

    #sobre img,
    #veleiros img,
    #lanchas img,
    #jet img,
    #contato img {
        max-height: 200px;
}
}
@media screen and (min-width: 763px) and (max-width: 1023px) {
    header .title {
        font-size: 3vw; /* Ajuste para unidades relativas */
    }
    
    header .title img {
        max-height: 4vw;
        margin-right: 1vw;
        margin-left: 1vw;
        transition: transform 0.3s;
    }

    header .menu li img {
        max-height: 4vw;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        text-align: center; /* Centraliza o texto */
    }
    
    .conteudo_sobre {
        font-family: Josefin Sans;
        font-weight: 350;
        margin-top: 35px;
        color: white;
        margin: 0 auto;
    }

    .conteudo_sobre h2 {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: larger;
    }

    /* Container para centralizar imagem e texto */
    .conteudo_sobre_container {
        display: block;
        text-align: center;
        margin-bottom: 20px; /* Espaçamento entre a imagem e o texto */
    }
}
@media screen and (min-width: 1024px) and (max-width: 1999px) {
    header .title {
        font-size: 2vw; /* Ajuste para unidades relativas */
    }
    
    header .title img {
        max-height: 3vw;
        margin-right: 1vw;
        margin-left: 1vw;
        transition: transform 0.3s;
    }

    header .menu li img {
        max-height: 3vw;
    }
}
@media screen and (min-width: 2000px) {
    header .title {
        font-size: 2vw; /* Ajuste para unidades relativas */
    }
    
    header .title img {
        max-height: 2vw;
        margin-right: 1vw;
        margin-left: 1vw;
        transition: transform 0.3s;
    }

    header .menu li img {
        max-height: 2vw;
    }
}